
[submodule "frontend-next"]
	path = frontend-next
	url = https://github.com/gabykassab00/next.js
[submodule "backend-django"]
	path = backend-django
	url = https://github.com/gabykassab00/django
	branch = main
